<h1>Faça Sua Matricula</h1>

<form action="/matri/insertmatri" method="POST" class="form"> 
<div class="form-control">
    <label for="title">Nome</label>
    <input type="text" name="nome" id="nome" placeholder="Nome">
</div>
<div class="form-control">
    <label for="cadastro">cadastrar</label> 
    <input type="text" name="cadastro" id="cadastro" placeholder="cadastro"> 
</div>
<input type="submit" value="cadastrar">
<a href="/matri">Enviar</a> 

</form>
