 <nav id="nav">     
        <ul>
              <li><a href="/home">Início</a></li>
            <li><a href="/profissionais">Profissionais</a></li>
            <li><a href="/unidades">Unidades</a></li>
            <li><a href="/planos">Planos</a></li>
            <li><a href="/suplemento">Suplementos</a></li>
            <li><a href="/formulario">Contato</a></li>
            <li><a href="/login">login</a></li>
          </ul> </nav>
             <br> <br> <br> <br>

             <aside id="area-lateral">
              <section class="conteudo-lateral">
                 <h3>Postagens Recentes</h3>

                 <section class="postagem-lateral">
                     <p>Plano simples | 2x na semana
                      de 8h às 16h | R$ 120,00 / mês</p>
                     <a href="/planos">Leia Mais</a>
                 </section>
                 <section class="postagem-lateral" style="border-bottom: none;">
                   <p>Plano premmium | 7x na semana
                    de 6h às 23h | R$ 510,00 / mês </p>
                   <a href="/planos">Leia Mais</a>
               </section>
              </section>
              <section class="conteudo-lateral">
                    <h3>Categorias</h3>                   
                  <a href="/home">Início</a>
                  <a href="/profissionais">Profissionais</a>
                  <a href="/unidades">Unidades</a>
                  <a href="/planos">Planos</a>
                  <a href="/suplemento">Suplementos</a>
                  <a href="/formulario">Contato</a>
                  <a href="/login">login</a>
              </section>

          </aside>

          <div id="clear"></div>

              
          <div class="carrosel">
              <div class="slides">
                  <input type="radio" name="slide" id="slide1" checked>
                  <input type="radio" name="slide" id="slide2">
                  <input type="radio" name="slide" id="slide3">

                  <div class="slide s1">
                    <img class="img-home"  src="css/imagens/academia10.jpg" alt="academia">
                  </div>
                  <div class="slide">
                    <img class="img-home"  src="css/imagens/academia11.jpg" alt="academia">
                  </div>
                  <div class="slide">
                    <img class="img-home"  src="css/imagens/academia12.jpg" alt="academia">
                  </div>
              </div>

              <div class="navigation">
                <label class="bar" for="slide1"></label>
                <label class="bar" for="slide2"></label>
                <label class="bar" for="slide3"></label>
            </div>
          </div>

         





    
    