<body class="d-flex flex-column min-vh-100">
  <main class="container d-flex flex-column justify-content-center align-items-center altura-main w-lg-75">
    <h2 class="mb-5">Fazer Login</h2>
    <section class="formulario_container w-75 d-flex flex-column align-items-center justify-content-between">
      
      <form id="form" action="/home">
        <div class="container_gr1 form-floating mb-3">
          
          <input type="email" class="form-control input-limit" id="email1" placeholder="Digite seu email" aria-describedby="emailHelp" required>
            <label for="email1">Email</label>
        </div>
        <div class="senha form-floating">
          <input type="password" class="form-control input-limit" id="password1" placeholder="Senha" autocomplete="off" required>
          <label for="password1">Senha</label>

        </div>
        <div>
          <br>
        
          <div class="page2 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary botao"  data-bs-toggle="modal" data-bs-target="#exampleModal">Entrar</button>
          </div><br>
         
          <div class="check3">
            <input type="checkbox" class="checarInput_1" id="ChecarImput">
            <label class="lembrarS" for="checarSenha">Lembrar Senha</label>
          </div>
      </form>
    </section>
  </main>
  
 

</body>
