<div id="estud">
    <a href="/matri">voltar</a>
    <div class="container">
        <h1>{{matricula.nome}}</h1>
        <p>consultar{{matricula.cadastro}}matricula</p>
        <div class="action">
            <a href="/matri/edit/{{matricula.id}}">Editar</a> 
            <form action="/matricula/remove/{{matricula.id}}" ><a href="/remove">remover</a></form>
            </div>
    </div>
</div>


