         <main>
            <div id="cont-plano">
                <div class='plano'>
                    <h2>Plano simples</h2>
                    2x na semana <br>
                    de 8h às 16h
                    <hr>
                    R$ 120,00 / mês

                    
                </div>
    
                <div class='plano'>
                    <h2>Plano intermediario</h2>
                    5x na semana <br>
                    de 6h às 19h
                    <hr>
                    R$ 250,00 / mês
                    
                </div>
    
    
                <div class='plano'>
                    <h2>Plano premmium</h2>
                    7x na semana <br>
                    de 6h às 23h
                    <hr>
                    R$ 510,00 / mês
                    
                </div>
              </div>
    
          </main>       
