<main>
          <div id="cont-profissionais">
            <div class='profissionais'>
                <h2>Ana Julia</h2>
                <img src="css/imagens/profi1.jpg" alt="academia" class="profi">
            </div>

            <div class='profissionais'>
                <h2>Marcos</h2>
                <img src="css/imagens/profi2.jpg" alt="academia" class="profi">
            </div>


            <div class='profissionais'>
                <h2>Susanna</h2>
                <img src="css/imagens/profi3.jpg" alt="academia" class="profi">
            </div>
          </div>

          <div id="cont-profissionais">
            <div class='profissionais'>
                <h2>Marília</h2>
                <img src="css/imagens/profi4.jpg" alt="academia" class="profi">
            </div>

            <div class='profissionais'>
                <h2>Fernanda</h2>
                <img src="css/imagens/profi5.jpg" alt="academia" class="profi">
            </div>


            <div class='profissionais'>
                <h2>Leonardo</h2>
                <img src="css/imagens/profi6.jpg" alt="academia" class="profi">
            </div>
          </div>  
      </main>  

