<main>
               <div id="cont-loja">
                <div class='loja'>
                    <h2>Creatina</h2>
                    <img src="css/imagens/creatina.png" alt="creatina" class="creatina" width="150" height="150">            
                </div>
                
                <div class="loja">
                    <h2>Bcaa</h2>
                    <img src="css/imagens/bcaa.jpg" alt="bcaa" class="bcaa" width="150" height="150">
                </div>
                
                <div class="loja">
                    <h2>Whey</h2>
                    <img src="css/imagens/whey.jpg" alt="whey" class="whey" width="150" height="150">
                </div>  
              </div> 
</main>
