<main>
               <div id="cont-unidades">
                <div class='unidades'>
                    <h2>Copacabana</h2>
                    <img src="css/imagens/academia6.jpg" alt="academia" class="academia">
                </div>            
            
                <div class="unidades">
                    <h2>Botafogo</h2>
                    <img src="css/imagens/academia4.jpg" alt="academia" class="academia">
                </div>
                
                <div class="unidades">
                    <h2>Ipanema</h2>
                    <img src="css/imagens/academia2.jpg" alt="academia" class="academia">
                </div>  
              </div> 


              <div id="cont-unidades">
                <div class='unidades'>
                    <h2>Leme</h2>
                    <img src="./imagens/academia3.jpg" alt="academia" class="academia">
                </div>
                
                
                <a href="/formulario" id="button" ><button href="/formulario" style="background: #081826; border-radius: 100px; padding: 71px; cursor: pointer; color: #f27405; border: none; font-size: 80px; border: 5px solid #f27405;">Matricule-se</button></a>
                
                
                <div class="unidades">
                    <h2>Lapa</h2>
                    <img src="./imagens/academia5.jpg" alt="academia" class="academia">
                </div>  
              </div>           
 </main>

    
   