       <footer>
        <div id="container-footer">
            <div id="row-footer">
                <div class="rodape">
                <h2><u> Rede Socias</u></h2>
                <ul style="list-style-type:none;">
                     <li><a href="" > <i class="fa-brands fa-facebook-f"></i> Facebook </a></li>
                    <li><a href="#"> <i class="fa-brands fa-instagram"></i> Instagram</a></li>
                </ul>
                </div>
        
                <div class="rodape">
                  <div id="Equipe">
                    <h2 ><u>Equipe </u></h2>
                  </div>
                    <div id="equipe">
                    <ul style="list-style-type:none;">    
                        <li><a href="https://www.linkedin.com/"> <i class="fa-solid fa-user-tie"></i>Adriana</a></li>
                        <li><a href="https://www.linkedin.com/in/juansim0n"><i class="fa-solid fa-user-tie"></i> Juan Simon</a></li>
                    </div>
                    </ul>
                </div>
        
                <div class="rodape">
                <h2><u>Fale Conosco</u></h2>
                <ul style="list-style-type:none;">
                    <li><a href="#"><i class="fa-solid fa-phone"></i> (21)93320-6070</a></li>
                    <li><a href="#"><i class="fa-solid fa-envelope"></i> mexemexe.sac@gmail.com</a></li>
                </ul>
                </div>
                
                <div class="rodape">
                  <h2><u>Receber promoções</u></h2>  
                    <div class="caixa">
                        <form action="">
                            <input type="email" placeholder="Digite seu e-mail " required>
                            <button>Inscreva-se</button>
                        </form>
                         
                
                    </div>
                    
                </div>
        
                </div>
            </div>
        
     </footer>
     
     