  <title>Mexe Mexe | Academia</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" href="css/imagens/favicon-32x32.png" type="image/x-icon">   
</head>
<body>
    <header id="header">
      <a href="/home"><img id="logo1" src="css/imagens/Picsart_22-12-02_13-32-10-284.jpg" alt="logo"></a> 
           
    </header>
  
    <nav id="nav">     
        <ul>
             <li><a href="/home">Início</a></li>
            <li><a href="/profissionais">Profissionais</a></li>
            <li><a href="/unidades">Unidades</a></li>
            <li><a href="/planos">Planos</a></li>
            <li><a href="/suplemento">Suplementos</a></li>
            <li><a href="/formulario">Contato</a></li>
            <li><a href="/login">login</a></li>
          </ul> </nav>
          